Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

[stdlib] Implement `List.__str__()` (#2323)
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Implement `os.remove` and `os.unlink` (#2310)
  stdlib/src/os/__init__.mojo
  stdlib/src/os/os.mojo
  stdlib/test/os/test_remove.mojo
Due: mojo-format, check-license

doc string validation
  .github/workflows/standard_library_tests_and_examples.yml
  stdlib/src/builtin/reversed.mojo
  stdlib/src/collections/optional.mojo
Due: mojo-format, check-license

[stdlib] [proposal] Standardize the representation of byte sequence as a sequence of unsigned 8 bit integers (#2099)
  proposals/byte-as-uint8.md
Due: none

[stdlib] [proposal] Standardize the representation of byte sequence as a sequence of unsigned 8 bit integers (#2099) (#2347)
  proposals/byte-as-uint8.md
Due: none

[stdlib] Fix wrong instructions to use `List.__str__`
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

[stdlib] Test `assert_raises()` without FileCheck
  stdlib/test/testing/test_assert_raises.mojo
  stdlib/test/testing/test_assert_raises_no_error.mojo
  stdlib/test/testing/test_assert_raises_no_match.mojo
Due: mojo-format, check-license

[stdlib] Implement `Dict.__str__()`
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[stdlib] Fix wrong instructions to use `List.__str__` (#2349)
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

Moved StringableCollectionElement in `value.mojo`
  stdlib/src/builtin/value.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

[stdlib] Implement `Dict.__str__()` (#2359)
  stdlib/src/builtin/value.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[stdlib] Use `UInt8` instead of `Int8` to store `Error`'s message (#2318)
  stdlib/src/builtin/error.mojo
  stdlib/src/builtin/file.mojo
Due: mojo-format, check-license

[stdlib] Support reverse for Dict keys (#2327)
  stdlib/src/builtin/reversed.mojo
  stdlib/src/collections/dict.mojo
  stdlib/test/builtin/test_reversed.mojo
Due: mojo-format, check-license

[stdlib] Test `assert_raises()` without FileCheck (#2350)
  stdlib/test/testing/test_assert_raises.mojo
  stdlib/test/testing/test_assert_raises_no_error.mojo
  stdlib/test/testing/test_assert_raises_no_match.mojo
Due: mojo-format, check-license

Replace `Pointer` by `UnsafePointer` in `stdlib/src/builtin/object.mojo`
  stdlib/src/builtin/object.mojo
  stdlib/src/python/_cpython.mojo
Due: mojo-format, check-license

[stdlib] Replaced `Pointer` -> `UnsafePointer` in `python.mojo`
  stdlib/src/python/python.mojo
  stdlib/src/sys/ffi.mojo
Due: mojo-format, check-license

[stdlib] Use `UnsafePointer` instead of `Pointer` in `io.mojo`
  stdlib/src/builtin/io.mojo
Due: mojo-format, check-license

API doc string validation
  .github/workflows/standard_library_tests_and_examples.yml
  stdlib/src/builtin/reversed.mojo
  stdlib/src/collections/optional.mojo
Due: mojo-format, check-license

Enhancement in code
  stdlib/docs/style-guide.md
  stdlib/scripts/build-stdlib.sh
  stdlib/src/builtin/reversed.mojo
  stdlib/src/collections/optional.mojo
Due: mojo-format, check-license

error in ren-tests.sh
  stdlib/scripts/run-tests.sh
Due: none

resolving mojo doc
  stdlib/docs/style-guide.md
  stdlib/scripts/build-stdlib.sh
  stdlib/scripts/run-tests.sh
Due: none

added a script to check for warnings
  .github/workflows/standard_library_tests_and_examples.yml
  stdlib/scripts/check-file-is-empty.py
Due: check-license

[stdlib] Use `UnsafePointer` in the `String` struct
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] Remove some usage of `LegacyPointer` in tests and StringRef
  stdlib/src/builtin/string.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/memory/test_arc.mojo
  stdlib/test/python/test_ownership.mojo
  stdlib/test/python/test_python_object.mojo
  stdlib/test/sys/test_windows_target.mojo
Due: mojo-format, check-license

[stdlib] Replace `Pointer` by `UnsafePointer` in `stdlib/src/builtin/object.mojo` (#2365)
  stdlib/src/builtin/object.mojo
  stdlib/src/python/_cpython.mojo
Due: mojo-format, check-license

[stdlib] Replaced `Pointer` -> `UnsafePointer` in `python.mojo` (#2367)
  stdlib/src/python/python.mojo
  stdlib/src/sys/ffi.mojo
Due: mojo-format, check-license

[stdlib] Use `UnsafePointer` instead of `Pointer` in `io.mojo` (#2368)
  stdlib/src/builtin/io.mojo
Due: mojo-format, check-license

[stdlib] Use `UnsafePointer` in the `String` struct (#2370)
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] Remove some usage of `LegacyPointer` in tests and StringRef (#2371)
  stdlib/src/builtin/string.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/memory/test_arc.mojo
  stdlib/test/python/test_ownership.mojo
  stdlib/test/python/test_python_object.mojo
  stdlib/test/sys/test_windows_target.mojo
Due: mojo-format, check-license

fix test
  stdlib/test/builtin/test_reversed.mojo
Due: mojo-format, check-license

Fix contribution and vision doc issues
  CONTRIBUTING.md
  stdlib/docs/vision.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

[Doc] Fix contribution and vision doc issues (#2382)
  CONTRIBUTING.md
  stdlib/docs/vision.md
Due: none

[stdlib] chore: Update CODEOWNERS for docs to use new team name instead of named individuals
  .github/CODEOWNERS
Due: none

fixup: Standard library team members should get notified for /stdlib/docs changes
  .github/CODEOWNERS
Due: none

[stdlib] chore: Update CODEOWNERS for docs to use new team name (#2387)
  .github/CODEOWNERS
Due: none

[mojo-stdlib] Remove redundant Int constructor. (#37725)
  stdlib/src/builtin/int.mojo
  stdlib/test/builtin/test_int.mojo
Due: mojo-format, check-license

[mojo-stdlib] Add `whence` to arguments in `file.seek()` (#37435)
  docs/changelog.md
  stdlib/src/builtin/file.mojo
  stdlib/src/os/__init__.mojo
  stdlib/src/os/os.mojo
  stdlib/test/builtin/test_file.mojo
Due: mojo-format, check-license

[docs] Explain implicit convertion via value decorator (#37430)
  docs/manual/lifecycle/life.ipynb
Due: none

[mojo-docs] Remove some sharp edges from roadmap. (#37803)
  docs/roadmap.md
Due: none

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
